<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cosmeticshop">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MakeUpApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity
            android:name="com.example.cosmeticshop.ui.weblink.WebLinkActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.example.cosmeticshop.ui.productdetails.view.ProductDetailActivity" />
        <activity android:name="com.example.cosmeticshop.ui.producttype.view.ProductTypeActivity" />
        <activity
            android:name="com.example.cosmeticshop.ui.splash.view.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.cosmeticshop.ui.productbrand.view.ProductBrandActivity" />
    </application>


</manifest>